<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="ProyectoDatos.Properties.Settings.SolarDigonConnectionString"
            connectionString="Provider=Microsoft.ACE.OLEDB.12.0;Data Source=C:\Users\ccallado\Documents\SolarDigon.accdb"
            providerName="System.Data.OleDb" />
    </connectionStrings>
</configuration>