<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections></configSections>
  <connectionStrings>
    <add name="ProyectoDatos.Properties.Settings.ccAccessEscritorio" connectionString="Provider=Microsoft.Jet.OLEDB.4.0;Data Source=C:\Users\Formacion\Desktop\SQL\Northwind.mdb" providerName="System.Data.OleDb" />
    <add name="ProyectoDatos.Properties.Settings.ccAccessLocal" connectionString="Provider=Microsoft.Jet.OLEDB.4.0;Data Source=|DataDirectory|\Datos\Northwind.mdb" providerName="System.Data.OleDb" />
    <add name="ProyectoDatos.Properties.Settings.ccSqlEscritorio" connectionString="Data Source=.\SQLEXPRESS;AttachDbFilename=C:\Users\Formacion\Desktop\SQL\northwind.mdf;Integrated Security=True;Connect Timeout=30;User Instance=True" providerName="System.Data.SqlClient" />
    <add name="ProyectoDatos.Properties.Settings.ccSqlLocal" connectionString="Data Source=.\SQLEXPRESS;AttachDbFilename=|DataDirectory|\Datos\northwind.mdf;Integrated Security=True;Connect Timeout=30;User Instance=True" providerName="System.Data.SqlClient" />
    <add name="northwindEntities" connectionString="metadata=res://*/NWModel.csdl|res://*/NWModel.ssdl|res://*/NWModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=.\SQLEXPRESS;attachdbfilename=|DataDirectory|\Datos\northwind.mdf;integrated security=True;connect timeout=30;user instance=True;multipleactiveresultsets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>